body {
  margin: 0;
  background-image: url("imgs/background.jpg");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  z-index: 1;
  position: relative;
}

#mainContainer{
  background-color: white;
  margin: 80px auto;
}

#findTripBox{
  width: 100%;
  height: 700px;
  background-image: url("imgs/home/rana-sawalha-W_-6PWGbYaU-unsplash.jpg");
  background-size: cover;
}

.navbar{
  height: 70px;
}

/*============================================DASHBOARD============================================*/

#dashboard{
  padding: 20px;
}


#firstColumn{

}

#avatarBox{
  padding: 0px 20px 20px 0px;
}

#secondColumn{

}

#nameBox{
  width: 100%;
  font-size: 1.4rem;
}


#mainInfo{

}

#mainInfo table{
  width: 50%;
}

#addition-container{

}

#gender-form label{
  margin-right: 15px;
}

/*============================================NEWTRIP============================================*/





#tripMainImage label{
  width:300px;
  height:300px;
  border:2px dotted black;
  border-radius:5px;
  display:block;
  padding-top:4em;
  transition:border 300ms ease;
  cursor:pointer;
  text-align:center;
  margin: auto
}
#tripImageDiv label i, #tripImageDiv label span{
  color:black;
  transition:200ms color
}

#tripImageDiv label:hover{border:2px solid black}

.tripBlock{
  width: 350px;
  height: 500px;
  margin: auto;
}

.tripBlock .tripBlockPart{
  display: inline-block;
  height: 450px;

}
.tripBlock .form-group{
  width: 50%;
  display: flex;
}
.tripBlock .col-4{
  width: 50%;
  padding-left: 0;
}




#addCampBtn{
  width: 100px;
  height: 100px;
  margin: 10px;
}

.verticalLine{
  width: 50%;
  border-left: 1px solid green;
  height: 100px;
  margin: 0 0 0 50%;
  top: 0;
}

.campGroup{
  margin: auto;
}
.campGroup .tripBlock{
  border-color: orangered;
}

.upload-image .form-group{
  width: 200px;
  margin: 0 auto;
}
.upload-image input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none;}
.upload-image .label{width:200px; height:200px; border:2px dashed gray;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center; margin: auto}
.upload-image .label i{display:block;font-size:42px;padding-bottom:16px;padding-top: 20px}
.upload-image .label span{font-size:1rem}
.upload-image .label i,.upload-image .label .title{color:#6DD5FA;transition:200ms color}
.upload-image .label:hover{border:2px solid #6DD5FA}

/*============================================SHOWTRIP============================================*/


.trip_container{
  padding: 20px;
}

#trip_title_div h1{
  text-align: center;
  color: white;
  font-size: 6rem;
  text-shadow: 5px 5px 10px gray;
}


#trip_description_div{
  max-height: 150px;
  overflow: auto;
}

#ratingDiv input{
  display: none;
}

#ratingDiv label{
  width: 30px;
  height: 30px;
  content: "";
  background-color: rgba(245,243,10,1);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

}
#ratingDiv:not(:checked) label:hover ~ label{
  background-color: white !important;

}

#mapCampRow{
  margin-bottom: 15px;
}

#tripMapDiv{
  width: 100%;
  height: 500px;
  padding: 0;
}

#tripCampsDiv{
  max-height: 500px;
  height: 500px;
  overflow: auto;
}
#tripCampsDiv .card-body{
  padding: 0 10px;
}


.sp_fd_card_title{
  text-shadow: 5px 5px 10px rebeccapurple;
}


.campsList{
  list-style-type: none;
}

.btn_close_card{
  width: 3%;
  margin-left: 97%;
}

.no-gutters{
  padding: 10px;
}

.card_text_div{
  max-height: 250px;
  height: 250px;
  overflow: auto;
}

#trip_description_id{
  max-height: 250px;
  overflow: auto;
}

#commentsCreationForm{
  margin-top: 20px;
}

.comment_header p{
  display: inline;
  float: right;
}

.comment_btns{

}


/*SCROLLBAR*/
/* width */
/*::-webkit-scrollbar {*/
/*  width: 10px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*  background: gray;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: #6DD5FA;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #555;*/
/*}*/