body {
  margin: 0;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*================================================LANDING====================================================*/

.landing{
  position: relative;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.landing-header {
  position: relative;
  z-index: 2;
  text-align: center;
}

.landing-header h1 {
  font-family: 'Sail', cursive;
  color: #fff;
}

#landing_video{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}


.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*================================================NAVBAR====================================================*/

nav{
  z-index: 1;
  position: relative;
}



.navbar-brand{
  font-family: 'Sail', cursive;
  font-size: 2rem;
}

.navbar .fa-sign-out-alt{
  font-size: 1.5rem;
}

.navbar-brand span{
  color: greenyellow;
  transition: ease;
}

.signLinks{
  color: black;
  margin: 10px 10px 5px 10px;
}

.signLinks:hover{
  color: greenyellow;
  text-decoration: none;
}

/*=================================================SignIn/Register======================================================*/
#registerContainer{
  text-align: center;
}

.signIn_registerDiv{
  margin: auto;
}

.signIn_registerDiv .form-control{
  background-color: transparent;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: black;
  box-shadow: none;
  color: black;
}

.signIn_registerDiv .form-control:focus{
  background-color: transparent;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: red;
  box-shadow: none;
}

#mainContainer{
  z-index: 2;
  position: relative;
  padding: 0;
  background: linear-gradient(to right, rgba(1,239,100,0.5),rgba(5,121,226,0.5));
}



/*================================================HOME====================================================*/

#introDiv{
  width: 100%;
  background-image: url("https://res.cloudinary.com/antoxaalex/image/upload/v1608755173/backgrounds/hiker-918473_1920_odqgz6.jpg");
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding: 80px 50px;
  margin-bottom: 50px;
}

#introHeader{
  color: white;
  font-family: 'Nerko One', cursive;
  margin-bottom: 30px;
}

.introDivBtn{
  margin: auto;
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid greenyellow;
  background-color: transparent;
  transition: ease;
}

.introDivBtn a, .introDivBtn button{
  text-decoration: none;
  color: greenyellow;
  transition: ease;
}
.introDivBtn a:hover, .introDivBtn button:hover{
  text-decoration: none;
  color: white;
}
.introDivBtn:hover{
   background-color: yellowgreen;
  border: none;
 }
.introDivBtn h5{
  height: 100%;
  margin-bottom: 0;
  padding-top: 5px;
}

#tripsNearYouContainer,#bestTripsContainer{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 50px;
}

#bestUsersContainer{
  background-color: black;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 50px;
}

.homeContentHeader{
  margin-bottom: 40px;
}

#bestUsersContainer .homeContentHeader{
  color: white;
}

#tripsNearYou{
  overflow-x: auto;
  display: grid;
  grid-column-gap: 50px;
  scroll-snap-type: x proximity;
  grid-template-columns: repeat(3, calc(100% - 100px));
  grid-template-rows: minmax(150px, 1fr);
}

#bestTripsDiv,#bestUsersDiv{
  overflow-x: auto;
  display: grid;
  grid-gap: 15px;
  scroll-snap-type: x proximity;
  grid-template-columns: repeat(6, calc(100% - 60px));
  grid-template-rows: minmax(150px, 1fr);
}

#tripsNearYou .nearTripsGridItem{
  padding: 10px;
  scroll-snap-align: center;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
}

#bestTripsDiv .tripsGridItem{
  position: relative;
  background-color: black;
  scroll-snap-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 15px;

}

#bestUsersDiv .userGridItem{
  position: relative;
  padding: 10px;
  scroll-snap-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
}

#bestUsersDiv .userGridItem:nth-of-type(1) .levelSpan{
  color: gold;
  font-size: 1.5rem;
}
#bestUsersDiv .userGridItem:nth-of-type(2) .levelSpan{
  color: silver;
  font-size: 1.5rem;

}
#bestUsersDiv .userGridItem:nth-of-type(3) .levelSpan{
  color: rgb(196,139,63);
  font-size: 1.5rem;

}

.medalImage{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 40px;
}

.userTableTd{
  padding-left: 20px;
}

#bottomDiv{
  background-color: rgb(247,247,247);
  width: 100%;
  padding: 20px 50px;
}

#bottomDiv a{
  color: black;
}

#contacts, #socialMedia{
  margin: 20px auto;
}

#socialLinks{
  display: flex;
}
#socialLinks a{
  margin-right: 15px;
}
/*============================================CREATE PROFILE============================================*/
.profileHeader{
  text-align: center;
}

.mainInfoProfile{
  width: 50%;
  margin: auto;
}

.checkbox_div{
  max-height: 150px;
  overflow: auto;
}

.checkbox_div label{
  margin-left: 10px;
}

/*============================================DASHBOARD============================================*/

#dashboard{
  padding: 20px;
}


#firstColumn{

}

#avatarBox{
  padding: 0 20px 20px 0;
  display: flex;
}
#avatarBox img{
  margin: 0 auto;
}

#preferenceDiv i{
  margin: 5px;
  font-size: 1rem;
  color: gray;
  transition: 0.5s;
}

#preferenceDiv i:hover{
  margin: 5px;
  font-size: 1.3rem;
  color: cornflowerblue;
}


.fadeIn{
  opacity: 0;
}

.fadeOut{
  opacity: 1;
}

#secondColumn{

}

#nameBox{
  width: 100%;
}

#statusString{
  padding: 5px;
  margin-bottom: 0;
  font-style: italic;
}

#dashboardName{
  font-size: 1.4rem;
  margin-bottom: 0;
}


#mainInfo{

}

#mainInfo table{
  width: 50%;
}



#gender-form label{
  margin-right: 15px;
}

#dashboardCarousel{
  overflow-x: auto;
  display: grid;
  grid-column-gap: 50px;
  scroll-snap-type: x proximity;
}


#allTripFriends{
  background: linear-gradient(to right,rgba(250,208,231,0.3), rgba(188,58,127,0.3));
  border-radius:15px 15px 15px 15px;
  border: 1px solid gray;
  padding: 20px 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

#friendsDiv{
  overflow-x: auto;
  display: grid;
  grid-column-gap: 50px;
  scroll-snap-type: x proximity;
}

#friendsDiv img{
  padding: 10px;
  scroll-snap-align: center;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
}


#createProfileBtn{
  height: 300px;
  width: 300px;
  background-color: white;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 15px;
  transition: 200ms ease;
  font-size: 2.5rem;
  padding-top: 6%;
}

#createProfileBtn:hover{
  background-color: cornflowerblue;
  color: white;
}

/*============================================NEWTRIP============================================*/

.newTripDiv{
  padding: 50px 10px;
}

.mainNewTripHeader{
  color: white;
}

#tripPartDiv{
  border-radius: 5px;
  border: 1px solid rgb(222,224,230);
  padding: 20px;
  margin: auto;
  background-color: rgb(247,247,250);
}

#thirdPartDiv{
  border-radius: 5px;
  border: 1px solid rgb(222,224,230);
  padding: 50px;
  margin: auto;
  background-color: rgb(247,247,250);
}

.tripHeader{
  color: rgb(143,149,168);
  margin-bottom: 30px;
}

.headerNum{
  border: 2px solid rgb(143,149,168);
  border-radius: 50%;
  margin: 0;
}


.tripMainImageDiv{
  width: 100%;
}

.btnNextPart{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 1.3rem;
}

.tripTypeInput{
  background-color: white;
  border: 1px solid rgb(222,224,230);
  border-radius: 5px;
}

.tripMainImageDiv input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none;}
.tripMainImageDiv label{
  width: 300px;
  height: 120px;
  border:2px dotted rgb(222,224,230);
  border-radius:15px;
  background-color: rgb(247,247,250);
  cursor:pointer;
  text-align:center;
  padding: 40px;
  font-size: 1.4rem;
  color: rgb(144,152,184);
}

.mainTripInfo{
  color:  rgb(144,152,184);
}

.teammatesHeaderDiv{
  color:  rgb(144,152,184);
  background-color: rgb(247,247,250);
  padding: 10px 0 10px 0;
  border: 1px solid rgb(144,152,184);
  border-radius: 15px 15px 0 0;
}

.assemblesTeammatesDiv{
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid rgb(144,152,184);
  border-right: 1px solid rgb(144,152,184);
  border-bottom: 1px solid rgb(144,152,184);
  background-color: rgb(247,247,250);
  border-radius: 0 0 15px 15px;
}

.searchTeamInput{
  border-radius: 0;
  border: 1px solid rgb(144,152,184);
}

.searchedTeammateList{
  padding: 10px;
  list-style-type: none;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(247,247,250);
  border: 1px solid rgb(144,152,184);
  border-top: none;
  margin-bottom: 0;
}


.routePlan{
  background-color: rgb(247,247,250);
  border: 1px solid rgb(144,152,184);
  border-radius: 15px;
}

.addCampBtn{
  color: rgb(144,152,184);
  border: 1px solid rgb(144,152,184);
}

.addCampBtn:hover{
  background-color: rgb(144,152,184);
  border: 1px solid rgb(144,152,184);
}

.routePlan .routeTrack{
  max-width: 100%;
}

.routeTrack input{
  width: 20px;
  height: 20px;
  transition: 0.25s linear;
}

.routeTrack input:checked{
  width: 30px;
  height: 30px;
}


.pointRadiosDiv{
  display: inline;
}

.waySpanRadio{
  color: rgb(143,149,168);
  font-weight: bold;
  font-size: 1.6rem;
}


.routePlan .card{
  background-color: rgb(247,247,250);
  color: rgb(143,149,168);
  border: none;
  border-radius: 0 0 15px 15px;

}

.routePlan .card-body input, .routePlan .card-body textarea{
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: rgb(247,247,250);
}
.routePlan .card-body input:focus, .routePlan .card-body textarea:focus{
  box-shadow: none;
}



.tripBlock .form-group{
  width: 50%;
  display: flex;
}
.tripBlock .col-4{
  width: 50%;
  padding-left: 0;
}

.st_point_block{
  border: 1px solid rgb(144,152,184);
  border-radius: 15px;
  background-color: rgb(247,247,250);
}

.st_point_block .card{
  background-color: rgb(247,247,250);

}

#addCampBtn{
  width: 100px;
  height: 100px;
  margin: 10px;
}

.verticalLine{
  width: 50%;
  border-left: 1px solid green;
  height: 100px;
  margin: 0 0 0 50%;
  top: 0;
}

.campGroup{
  margin: auto;
}
.campGroup .tripBlock{
  border-color: orangered;
}

.upload-image input[type=file]{
  outline:0;
  opacity:0;
  pointer-events:none;
  user-select:none;
}
.upload-image .label{
  width:100%;
  height:100%;
  border:2px dashed rgb(144,152,184);
  border-radius:5px;
  display:block;
  transition:border 300ms ease;
  cursor:pointer;
  text-align:center;
  margin: auto;
  align-content: center;
  color: rgb(143,149,168);
  padding-top: 2.3rem;
}
.upload-image .label i{
  font-size: 3rem;
  display: block;
}
.upload-image .label span{
  font-size: 1.5rem;
}

.upload-image .label:hover{
  border:2px solid rgb(144,152,184)
}



#editTripMainImage input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none;}
#editTripMainImage label{
  width: 100%;
  height: 200px;
  border:2px solid rgb(222,224,230);
  border-radius:15px;
  background-color: rgb(247,247,250);
  cursor:pointer;
  text-align:center;
  padding: 5% 10%;
  font-size: 1.2rem;
  color: white;
}

#editTripMainImage label i{
  font-size: 3rem;
  display: inline;
}
#editTripMainImage label span{
  font-size: 3rem;
}

/*============================================SHOWTRIP============================================*/


.trip_container{

}

#showTripHeader{
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}

#trip_title_div h1, #trip_title_div p{
  text-align: center;
  color: white;
}

#trip_title_div i{
  color: white;
  transition: ease;
}
#trip_title_div i:hover{
  color: gray;
}


#trip_description_div{
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: normal;
  font-family: 'Gochi Hand', cursive;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

#ratingRow{
  position: absolute;
  background-color: white;
  border-radius: 15px;
  right: 20px;
}


#ratingDiv input{
  display: none;
}

#ratingDiv label{
  width: 30px;
  height: 30px;
  content: "";
  background-color: rgba(245,243,10,1);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

}
#ratingDiv:not(:checked) label:hover ~ label{
  background-color: white !important;

}

#ratingDiv{
  font-size: 2rem;

}

#mapCampRow{
  margin-bottom: 15px;
}

#tripMapDiv{
  width: 100%;
  height: 500px;
  padding: 0;
  position: relative;
}

#tripCampsDiv{
  overflow: auto;
  background-image: url("https://res.cloudinary.com/antoxaalex/image/upload/v1607197635/backgrounds/paper-1959384_1280_pbquvj.jpg");
  background-size: 100% 100%;
  padding: 30px;
}
#tripCampsDiv .card-body{
  padding: 0 10px;
}

.showPointDiv button, #commentsList h5, .pointDescription{
  font-family: 'Gochi Hand', cursive;
  font-size: 1.5rem;
}

.comment_header a{
  font-family: 'Gochi Hand', cursive;
  font-size: 1.5rem;
  text-decoration: none;
}

.showPointDiv button:hover{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.showPointDiv i{
  font-size: 2rem;
}
.verticalBorder{
  margin: 10px;
  list-style-type: none;
}


.sp_fd_card_title{
  text-shadow: 5px 5px 10px rebeccapurple;
}


.campsList, #setLi{
  list-style-type: none;
}

.btn_close_card{
  width: 3%;
  margin-left: 97%;
}

.no-gutters{
  padding: 10px;
}

.card_text_div{
  max-height: 250px;
  height: 250px;
  overflow: auto;
}

#trip_description_id{
  max-height: 250px;
  overflow: auto;
}

#commentsCreationForm{
  margin-top: 20px;
}

.comment_header p{
  display: inline;
  float: right;
}

#camp_information{
  width: 18rem;
  height: 400px;
}

#camp_information:empty{
  height: 0;
}

.pointDescription{
  height: 400px;
}

.pointDescription p{
  font-size: 1rem;
  text-decoration: underline;
  padding: 5px;
}

#camp_information h5 .noDataDiv{
  font-family: 'Tangerine', cursive;
  font-size: 1.5rem;
}


#commentText{
  background-color: rgb(247,247,250);
  border:2px solid rgb(222,224,230);
  border-radius: 30px 0 0 30px;
  position: relative;
}

#commentText span{
  position: absolute;
  bottom: 0;
  right: 10px;
}

#commentBtns{
  background-color: rgb(247,247,250);
  border:2px solid rgb(222,224,230);
  border-radius: 0 30px 30px 0;
  padding: 10px;
  width: 50px;
  height: 100%;
 }

#commentBtns button, #commentBtns a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}



#friendsRow{
  margin-bottom: 50px;
  font-family: 'Tangerine', cursive;
  padding: 15px;
  width: 100%;
}

#showTripTeamDiv{
  max-width: 400px;
  margin: 0 auto 40px auto;
  overflow-x: auto;
  display: grid;
  grid-column-gap: 50px;
  scroll-snap-type: x proximity;
  grid-template-rows: minmax(70px, 1fr);
}

.friendItem{
  padding: 10px;
  scroll-snap-align: center;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
}

#showTripTeamDiv button{
  background-color: transparent;
  border: none;
}

#showTripTeamDiv button:hover{
  font-size: 1.7rem;
}

#showFriendInfo{
  border-radius: 15px;
  background-color: white;
}

/*=====================================================CroppModal=============================================*/
.modalStyle{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modalDivStyle{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 10px;
}



/*======================================OTHER=========================================*/
.fa-check{
  color: green;
}

/*=========================================MEDIA=========================================*/
/*Phone Portrait*/
@media (min-width: 300px) and (max-height: 850px){
  .landing-header h1 {
    font-size: 4rem;
    margin-bottom: 100px;
  }

  .landing-header {
    padding-top: 200px;
  }

  #mainContainer{
    min-width: 414px;
    min-height: 850px;
  }

  #registerContainer{
    padding: 150px 0;
  }

  .signIn_registerDiv{
    width: 200px;
    height: 300px;
  }

  #introHeader{
    font-size: 4rem;
  }

  .introDivBtn{
    width: 150px;
    height: 40px;
  }

  .headerNum {
    width: 30px;
    height: 30px;
  }

  .headerNum, .tripHeader .col-10 h5 {
    font-size: 1.3rem;
  }

  .mainNewTripHeader{
    font-size: 3rem;
  }

  .assembledMember img{
    width:70px;
    height: 70px;
  }

  #trip_title_div h1{
    font-size: 4rem;
    margin: 0 auto;
  }
 #trip_title_div a{
   font-size: 2rem;
 }

 #ratingRow{
   bottom: 30px;
 }

}
/*Phone Landscape*/
@media (min-width: 560px) and (max-height: 420px){
  .landing-header h1 {
    font-size: 4rem;
    margin-bottom: 50px;
  }

  .landing-header {
    padding-top: 100px;
  }

  #registerContainer{
    padding: 150px 0;
  }

  .signIn_registerDiv{
    width: 200px;
    height: 300px;
  }

  #introHeader{
    font-size: 4rem;
  }

  .introDivBtn{
    width: 150px;
    height: 40px;
  }
  #tripsNearYou{
    grid-template-columns: repeat(3, calc(100% - 250px));
  }
  #bestTripsDiv,#bestUsersDiv{
    grid-template-columns: repeat(6, calc(100% - 400px));
  }

  .mainNewTripHeader{
    font-size: 2rem;
  }

  .headerNum {
    width: 40px;
    height: 40px;
  }

  .headerNum, .tripHeader .col-10 h5 {
    font-size: 1.6rem;
  }


  .mainNewTripHeader{
    font-size: 4rem;
  }

  .assembledMember img{
    width:100px;
    height: 100px;
  }

  #friendsDiv{
    grid-template-columns: repeat(6, calc(100% - 600px));
  }

  #showTripHeader{
    height: 300px;
  }

  #trip_title_div h1{
    font-size: 4rem;
    margin: 0 auto;
  }
  #trip_title_div a{
    font-size: 2rem;
  }

  #ratingRow{
    bottom: 20px;
  }

}
/*Tablet Portrait*/
@media (min-width: 768px) and (min-height: 1024px){
  .landing-header h1 {
    font-size: 8rem;
    margin-bottom: 100px;
  }

  .landing-header {
    padding-top: 200px;
  }

  #mainContainer{
    min-width: 768px;
    min-height: 1370px;
  }

  #registerContainer{
    padding: 200px 0;
  }

  .signIn_registerDiv{
    width: 500px;
    height: 500px;
  }

  #introHeader{
    font-size: 8rem;
  }

  .introDivBtn{
    width: 300px;
    height: 70px;
  }
  .introDivBtn h5{
    font-size: 2rem;
    padding-top: 12px;
  }

  #tripsNearYou{
    grid-template-columns: repeat(3, calc(100% - 400px));
  }
  #bestTripsDiv,#bestUsersDiv{
    grid-template-columns: repeat(6, calc(100% - 400px));
  }

  .headerNum {
    width: 60px;
    height: 60px;
  }

  .headerNum, .tripHeader .col-10 h5 {
    font-size: 2.5rem;
  }


  .mainNewTripHeader{
    font-size: 5rem;
  }

  .assembledMember img{
    width:100px;
    height: 100px;
  }

  #trip_title_div h1{
    font-size: 6rem;
    margin: 0 auto;
  }
  #trip_title_div a{
    font-size: 2rem;
  }

  #ratingRow{
    bottom: 40px;
  }
}
/*Tablet Landscape*/
@media (min-width: 1024px) and (min-height: 768px){
  .landing-header h1 {
    font-size: 8rem;
    margin-bottom: 100px;
  }

  .landing-header {
    padding-top: 200px;
  }

  #trip_title_div h1{
    font-size: 7rem;
  }

  #introDiv{
    height: 600px;
  }

  #introHeader{
    font-size: 8rem;
    margin-bottom: 200px;
  }

  .introDivBtn{
    width: 150px;
    height: 40px;
  }

  .introDivBtn{
      width: 300px;
      height: 70px;
  }
  .introDivBtn h5{
    font-size: 2rem;
    padding-top: 12px;
  }

  #tripsNearYou{
    grid-template-columns: repeat(3, calc(100% - 400px));
  }
  #bestTripsDiv{
    grid-template-columns: repeat(6, calc(100% - 600px));
  }
  #bestUsersDiv{
    grid-template-columns: repeat(6, calc(100% - 700px));
  }

  .mainNewTripHeader{
    font-size: 5rem;
  }
  .headerNum {
    width: 60px;
    height: 60px;
  }

  .headerNum, .tripHeader .col-10 h5 {
    font-size: 2.5rem;
  }
  #ratingRow{
    bottom: 20px;
  }

}
/*Desktop*/
@media (min-width: 1400px) and (min-height: 900px){
  .landing-header h1 {
    font-size: 10rem;
    margin-bottom: 100px;
  }

  .landing-header {
    padding-top: 200px;
  }

  #mainContainer{
    min-height: 1440px;
  }

  #registerContainer{
    padding: 200px 0;
  }

  .signIn_registerDiv{
    width: 300px;
    height: 500px;
  }

  #introDiv{
    height: 800px;
  }

  #introHeader{
    font-size: 10rem;
  }

  .introDivBtn{
    width: 250px;
    height: 40px;
  }

  .introDivBtn h5{
    padding-top: 0;
  }

  #tripsNearYou{
    grid-template-columns: repeat(3, calc(33%));
    overflow-x: hidden;
  }
  #bestTripsDiv{
    grid-template-columns: repeat(6, calc(16%));
    overflow-x: hidden;
  }
  #bestUsersDiv{
    grid-template-columns: repeat(6, calc(16%));
    overflow-x: hidden;
  }
  #bottomDiv{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .mainNewTripHeader{
    font-size: 5rem;
  }

  .assembledMember img{
    width:100px;
    height: 100px;
  }
  #friendsDiv, #dashboardCarousel{
    overflow-x: hidden;
  }

  #trip_title_div h1{
    font-size: 8rem;
    margin: 0 auto;
  }
  #trip_title_div a{
    font-size: 2rem;
  }

  #ratingRow{
    bottom: 20px;
  }

}

/*====================================Animations==========================================*/

/*SCROLLBAR*/
/* width */
/*::-webkit-scrollbar {*/
/*  width: 10px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*  background: gray;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: #6DD5FA;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #555;*/
/*}*/